MOD 12 DIY/src/main/mule/process-visa-gift-cards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="768804c7-799e-4952-8805-a613880744f0" >
		<jms:active-mq-connection />
	</jms:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="0dc823d3-9349-4309-8283-5e07d917ef16" >
		<file:connection workingDir="#[p('master.fileWrite')]" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="791e9d13-fdf6-4670-8291-d366e579157e" >
		<file:connection workingDir="C:\Users\John\Desktop\DIY12" />
	</file:config>
	<flow name="processVisaGiftCards" doc:id="923929e2-7511-4ed8-8a33-ed798319974e" initialState="started">
		<file:listener doc:name="checking for the csv file" doc:id="96c7c2a0-964e-4823-9fc5-e5aeb58a6839" directory="${master.fileIn}" moveToDirectory="${master.fileProcessed}" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<logger level="INFO" doc:name="in the next component we are converting this to java..also can be converted to json" doc:id="55cb41e7-0d40-48b1-8cf0-b5543a022ef5" message='#["logging"]'/>
		<ee:transform doc:name="converting to java for operations" doc:id="44908c96-057b-4398-8586-17cb47db52f8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="recordSize" doc:id="26d07de8-9bb4-4d5e-8292-64192ab02040" variableName="recordSize"/>
		<set-variable value="#[payload[0].partner]" doc:name="partner" doc:id="87e633f1-f590-4783-8e3d-09b8310fd498" variableName="partner" />
		<choice doc:name="Choice" doc:id="71608f41-24fb-4a33-a3c5-3c179332d6fc" >
			<when expression="#[vars.partner as String == p('partner1.name')]">
				<ee:transform doc:name="if partner is Food and Savings" doc:id="0b0b9f02-f9da-4a2e-89a2-5ea35cafbfe8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (item,index)->
({
    "number" : item.card_no,
    "sourceID" : "MULEBANK-0949",
    "balance" : item.amount_granted,
    "createdOn" : now() as String {format : "yyyy-MM-dd HH:mm:ss"}
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<jms:publish-consume doc:name="food N savings" doc:id="626cf790-7ef2-4c24-84a1-1c113f8ddc86" config-ref="JMS_Config" destination="${partner1.q}"/>
			</when>
			<when expression="#[vars.partner as String == p('partner2.name')]">
				<ee:transform doc:name="if partner is meals n Go" doc:id="2d319dd6-482f-4308-891e-d56eaa1ec8d2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item,index)->
({
    "gc_card_number" : item.card_no,
    "origin" : "MULEBANK-0949",
    "gc_balance" : item.amount_granted,
    "card_type" : "VISA",
    "expiration" :  (now() + |P3M|) as Number
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[now() as Number]" doc:name="UnixEpoch" doc:id="886d5c5e-b404-420c-8c0d-5832e6af98d2" variableName="UnixEpoch"/>
				<jms:publish-consume doc:name="meals n go" doc:id="701baf32-202a-44c5-ab5a-7b8af6b72cf7" config-ref="JMS_Config" destination="${partner2.q}">
					<jms:message >
						<jms:properties ><![CDATA[#[{
	"UnixEpoch" : vars.UnixEpoch
}]]]></jms:properties>
					</jms:message>
				</jms:publish-consume>
			</when>
			<when expression="#[vars.partner as String == p('partner3.name')]">
				<ee:transform doc:name="if partner meal is online retail plus" doc:id="b2b68800-8005-437e-9975-7fc34f5da1ee" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (item,index)->
({
    "cardNo" : item.card_no,
    "bankOriginationID" : "MULEBANK-0949",
    "amount" : item.amount_granted
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[now() as Number]" doc:name="dateTime" doc:id="05d57fe6-ec99-4d6d-ad5f-151b08d6a3d6" variableName="dateTime"/>
				<set-variable value="#[sizeOf(payload)]" doc:name="count" doc:id="cddbf677-a9cc-4917-a112-635909725fca" variableName="count"/>
				<jms:publish-consume doc:name="o retailer" doc:id="ebd64d82-abf4-4fdb-abdc-5a5251793b01" destination="${partner3.q}">
					<jms:message >
						<jms:properties ><![CDATA[#[{
	"dateTime": vars.dateTime,
	"count" : vars.count
}]]]></jms:properties>
					</jms:message>
				</jms:publish-consume>
			</when>
			<otherwise >
				<logger level="INFO" doc:name='"invalid partner"' doc:id="0650126e-2aa8-45c8-b801-cb7bab72a5b5" message='#["invalid partner"]'/>
				<set-payload value='#["partner : " ++ "----- " ++ (vars.partner) ++ "-------- " ++ "is invalid"]' doc:name="Set Payload" doc:id="bed41608-0517-49d6-8ad1-7244fe9af145" />
				<file:write doc:name="Write" doc:id="92540a55-d2b3-4ef5-99b8-3e723ef345c0" path='#[attributes.fileName ++ ".txt"]' config-ref="File_Config"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="02366ac3-c19d-4c5c-aa4c-38bad7e1eced" message="#[payload]"/>
		<set-payload value='#[output text/plain
---
"no of records processed for " ++ vars.partner ++ "--&gt;" ++ vars.recordSize ++ "\n" ++ "status --&gt;" ++ (attributes.properties.userProperties.status default " ")]' doc:name="setting the required parameters for final write up" doc:id="30b37753-58a4-4fdb-bb72-9cbd2543326f" />
		<file:write doc:name="writing out the final report" doc:id="76a78fbe-650d-4c15-ae7a-0a4e0676412b" path='#["summaryReport" ++ ".txt"]' config-ref="File_Config1"/>
	</flow>
</mule>
