training_american_flow/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e6be5d4-a217-4313-b941-1b679df9b9b9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9e06d540-4cc0-40e6-8b6f-e18e55b4931a" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="training_american_flowFlow" doc:id="c43bc130-c310-4d29-ae46-2bd11eae678e" >
		<db:select doc:name="Select" doc:id="6d380c80-fa7b-48cb-867b-bac7efaea016" config-ref="Database_Config">
			<db:sql >select * from american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8323ac18-1d1c-40ab-8a4d-82bafe4e80f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	destination: payload01.toAirport default "",
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post_flow" doc:id="e1ac8272-c161-40f1-812f-a91f1163b924" >
		<set-payload value='#["added but not really"]' doc:name="Set Payload" doc:id="fd6faf3c-be4b-4c7f-ad17-e2366f169362" />
	</flow>
	<flow name="getby_id" doc:id="d58499ef-9fa7-4628-a79a-cfbb6397cc1a" >
		<db:select doc:name="Select" doc:id="3e69e233-3f55-4b85-9db0-1322e4086ab2" config-ref="Database_Config" >
			<db:sql >select * from american where ID=:ID</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"ID":attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="06e09b0b-613d-4cbc-9e15-c759c375dfc7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
